.number {
 display: flex;
 background-color:white;
 justify-content: center;
 align-items: center;
 font-size: 100px;
 height: 200px;}

.buttons {
  display: flex;
  justify-content: center;
  

.button {
  font-size: 50px;
  color: white;
  margin: 20px;
  width: 200px;
  height: 100px;
  background-color: lightgreen;
}
.button:hover{
  background-color: rgb(32, 21, 21);
  color: white ;
  cursor: pointer;
}